/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* M - Medium, Orange
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 750px) {
    .m-show {
        display: block;
    }
    .wrapper {
        width: 85%;
        padding: 0;
    }
    .col {
        margin: 2% 1% 0 1%;
    }
    .m-one {
        width: 6.33333%;
    }
    .m-two {
        width: 14.66666667%;
    }
    .m-three {
        width: 23%;
    }
    .m-four {
        width: 31.33333333%;
    }
    .m-five {
        width: 39.66666667%;
    }
    .m-six {
        width: 48%;
    }
    .m-seven {
        width: 56.33333333%;
    }
    .m-eight {
        width: 64.66666667%;
    }
    .m-nine {
        width: 73%;
    }
    .m-ten {
        width: 81.33333333%;
    }
    .m-eleven {
        width: 89.66666667%;
    }
    .m-twelve {
        width: 98%;
    }
    /* M - Offsets
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .m-space-one {
        margin-left: 8.33333%;
    }
    .m-space-two {
        margin-left: 16.66666667%;
    }
    .m-space-three {
        margin-left: 25%;
    }
    .m-space-four {
        margin-left: 33.33333333%;
    }
    .m-space-five {
        margin-left: 41.66666667%;
    }
    .m-space-six {
        margin-left: 50%;
    }
    .m-space-seven {
        margin-left: 58.33333333%;
    }
    .m-space-eight {
        margin-left: 66.66666667%;
    }
    .m-space-nine {
        margin-left: 75%;
    }
    .m-space-ten {
        margin-left: 83.33333333%;
    }
    .m-space-eleven {
        margin-left: 91.66666667%;
    }
}

/* L - Large, Yellow
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 970px) {
    .wrapper {
        width: 80%;
    }
    .l-one {
        width: 6.33333%;
    }
    .l-two {
        width: 14.66666667%;
    }
    .l-three {
        width: 23%;
    }
    .l-four {
        width: 31.33333333%;
    }
    .l-five {
        width: 39.66666667%;
    }
    .l-six {
        width: 48%;
    }
    .l-seven {
        width: 56.33333333%;
    }
    .l-eight {
        width: 64.66666667%;
    }
    .l-nine {
        width: 73%;
    }
    .l-ten {
        width: 81.33333333%;
    }
    .l-eleven {
        width: 89.66666667%;
    }
    .l-twelve {
        width: 98%;
    }

    /* L - Offsets
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .l-space-zero {
        margin-left: 0;
    }
    .l-space-one {
        margin-left: 8.33333%;
    }
    .l-space-two {
        margin-left: 16.66666667%;
    }
    .l-space-three {
        margin-left: 25%;
    }
    .l-space-four {
        margin-left: 33.33333333%;
    }
    .l-space-five {
        margin-left: 41.66666667%;
    }
    .l-space-six {
        margin-left: 50%;
    }
    .l-space-seven {
        margin-left: 58.33333333%;
    }
    .l-space-eight {
        margin-left: 66.66666667%;
    }
    .l-space-nine {
        margin-left: 75%;
    }
    .l-space-ten {
        margin-left: 83.33333333%;
    }
    .l-space-eleven {
        margin-left: 91.66666667%;
    }
}

/* XL - Extra Large, Green
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 1170px) {
    .wrapper {
        width: 80%;
    }
    .xl-one {
        width: 6.33333%;
    }
    .xl-two {
        width: 14.66666667%;
    }
    .xl-three {
        width: 23%;
    }
    .xl-four {
        width: 31.33333333%;
    }
    .xl-five {
        width: 39.66666667%;
    }
    .xl-six {
        width: 48%;
    }
    .xl-seven {
        width: 56.33333333%;
    }
    .xl-eight {
        width: 64.66666667%;
    }
    .xl-nine {
        width: 73%;
    }
    .xl-ten {
        width: 81.33333333%;
    }
    .xl-eleven {
        width: 89.66666667%;
    }
    .xl-twelve {
        width: 98%;
    }
    /* XL - Offsets ––––––––––––––––––––––––––––––––––––––––––––––––– */
    .xl-space-zero {
        margin-left: 0;
    }
    .xl-space-one {
        margin-left: 8.33333%;
    }
    .xl-space-two {
        margin-left: 16.66666667%;
    }
    .xl-space-three {
        margin-left: 25%;
    }
    .xl-space-four {
        margin-left: 33.33333333%;
    }
    .xl-space-five {
        margin-left: 41.66666667%;
    }
    .xl-space-six {
        margin-left: 50%;
    }
    .xl-space-seven {
        margin-left: 58.33333333%;
    }
    .xl-space-eight {
        margin-left: 66.66666667%;
    }
    .xl-space-nine {
        margin-left: 75%;
    }
    .xl-space-ten {
        margin-left: 83.33333333%;
    }
    .xl-space-eleven {
        margin-left: 91.66666667%;
    }
}
