/* –––––––––––––––––––––––––––––––––––––––––––––––
Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import 'reset';

/* –––––––––––––––––––––––––––––––––––––––––––––––
Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$white: #fff;
$softWhite:#eeefe6;
$cream:#DEDECE;
$sageGreen:#ADBCAF;
$green: #778370;
$grey:#ccc;
$black: #000;
$orange: #D9691D;
$rust: #7E300B;

//Kreon:400, 700
//Raleway:400, 700
$headline-font: 'Kreon',
sans-serif;
$body-font:'Raleway',
sans-serif;

/* –––––––––––––––––––––––––––––––––––––––––––––––
Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-size: 1em;
    line-height: 1.3;
    font-family: $body-font;
    color: $black;
    background-color: $softWhite;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.s-hide {
    display: none;
}

/* Responsive Grid ––––––––––––––––––––––––––––––––––––––––––––––– */

.wrapper {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    clear: both;
}

.wrapper-full {
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
}

.col {
    width: 100%;
    float: left;
    padding: 1%;
    margin-top: 2%;
    box-sizing: border-box; //    background-color: pink;
}

/* Jumbotron ––––––––––––––––––––––––––––––––––––––––––––––– */

.jumbotron {
    background-image: url(../images/utah.jpg);
    width: 100%;
    height: 400px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myName {
    font-size: 4em;
    font-family: $headline-font;
    line-height: 1;
    text-align: center;
}

.nameBG {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5%;
    width: 50%;
}

/*********** NAVIGATION FOR MOBILE *************/

nav {
    background-color: $sageGreen;
}

ul {
    margin: 0;
    padding: 0;
}

.bars {
    float: right;
    font-size: 1.5em;
    padding: 2% 4%;
    color: $white;
    background-color: transparent;
    border: none;
}

.bars:focus {
    outline: 0;
}

.menu-small {
    text-align: center;
    clear: right;
    list-style-type: none;
}

.menu-small li {
    background-color: $sageGreen;
    border-top: solid 1px $white;
    padding: 2%;
}

.menu-small li:hover {
    background-color: $green;
    color: #666;
}

.menu-small a {
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
}

.menu-large {
    display: none;
}

/* Greeting under jumbotron ––––––––––––––––––––––––––––––––––––––––––––––– */

.greeting {
    background-color: $cream;
    margin-top: 0;
    padding: 2%;
}

/* Gallery ––––––––––––––––––––––––––––––––––––––––––––––– */

.gallery {
    text-align: center;
}

.wd {
    //    background-color: $rust;
}

/* Portfolio ––––––––––––––––––––––––––––––––––––––––––––––– */

.about {
    background-color: $white;
    h4 {
        font-weight: 700;
    }
}

.about-text {
    padding: 0 5%;
}

/* Footer ––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
    position: relative;
    width: 100%;
    height: 50px;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: $green;
    text-align: center;
    p {
        margin-bottom: 0;
        padding-top: 1em;
    }
}

.clearIt {
    clear: both;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
    font-family: 'Kreon', serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

.center-text {
    text-align: center;
}

.fa-3x {
    padding: 0 6%;
}

.fa-3x:hover {
    color: $rust;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: $black;
}

a:hover {
    color: $rust;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––
Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import 'mediaQueries';
