/* –––––––––––––––––––––––––––––––––––––––––––––––
Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import 'reset';

/* –––––––––––––––––––––––––––––––––––––––––––––––
Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$white: #fff;
$black: #000;
$softWhite:#eeefe6;
$cream:#DEDECE;
$sageGreen:#ADBCAF;
$green: #778370;
$grey:#ccc;
$darkGrey: #666;
$orange: #D9691D;
$rust: #7E300B;

//Kreon:400, 700
//Raleway:400, 700
$headline-font: 'Kreon',
sans-serif;
$body-font:'Raleway',
sans-serif;

/* –––––––––––––––––––––––––––––––––––––––––––––––
Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-size: 1em;
    line-height: 1.3;
    font-family: $body-font;
    color: $black;
    background-image: url(../images/dust_scratches-softWhite.png);
    /* Background pattern from Toptal Subtle Patterns */
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.s-hide {
    display: none;
}

/* Responsive Grid ––––––––––––––––––––––––––––––––––––––––––––––– */

.wrapper {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    clear: both;
}

.wrapper-full {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
}

.col {
    width: 100%;
    float: left;
    padding: 1%;
    margin-top: 2%;
    box-sizing: border-box;
}

/* Jumbotron ––––––––––––––––––––––––––––––––––––––––––––––– */

.jumbotron {
    background-image: url(../images/utah.jpg);
    width: 100%;
    height: 400px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.myName {
    font-size: 4em;
    font-family: $headline-font;
    line-height: 1;
    text-align: center;
}

.nameBG {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5%;
    width: 50%;
}

/*********** NAVIGATION FOR MOBILE *************/

nav {
    background-color: $sageGreen;
}

ul {
    margin: 0;
    padding: 0;
}

.bars {
    float: right;
    font-size: 1.5em;
    padding: 2% 4%;
    color: $white;
    background-color: transparent;
    border: none;
}

.bars:focus {
    outline: 0;
}

.menu-small {
    text-align: center;
    clear: right;
    list-style-type: none;
}

.menu-small li {
    background-color: $sageGreen;
    border-top: solid 1px $white;
    padding: 2%;
}

.menu-small a {
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 1px;
    transition: all 1s ease;
}

.menu-small a:hover {
    color: $white;
    letter-spacing: 2px;
    text-shadow: 0px 0px 7px #333;
}

.menu-large {
    display: none;
}

/* Greeting under jumbotron ––––––––––––––––––––––––––––––––––––––––––––––– */

.greeting {
    background-color: $cream;
    margin-top: 0;
    padding: 2%;
    font-size: 1.125em;
}

/* Gallery ––––––––––––––––––––––––––––––––––––––––––––––– */

// Masonry
.grid-item {
    width: 98%;
    margin: 1%;
}

//.grid-item--width2 { width: 400px; }
.gallery h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
    color: $green;
    letter-spacing: 3px;
    padding: 2% 0;
    width: 98%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

/* About ––––––––––––––––––––––––––––––––––––––––––––––– */

.about {
    background-color: $white;
}

.about-text {
    padding: 0 5%;
}

/* Contact ––––––––––––––––––––––––––––––––––––––––––––––– */

.contact h2 {
    text-align: center;
}

.fa {
    padding: 0 1% 2% 1%;
    transition: all 1s ease;
}

.fa:hover {
    color: $orange;
}

/* Footer ––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
    position: relative;
    width: 100%;
    height: 50px;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: $green;
    text-align: center;
    p {
        margin-bottom: 0;
        padding-top: 1em;
        color: $sageGreen;
    }
}

.clearIt {
    clear: both;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
    font-family: 'Kreon', serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: $black;
}

a:hover {
    color: $darkGrey;
}

a.topLink {
    float: right;
    padding: 2% 2% 0 0;
    font-size: 0.75em;
    color: $green;
    text-decoration: none;
}

a > img {
    transition: all 1s ease;
}

a > img:hover {
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.62);

}

/* –––––––––––––––––––––––––––––––––––––––––––––––
Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import 'mediaQueries';
